# ------------------------------
# macOS
# ------------------------------

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

/.cargo
/.data
/.fleet
/.idea
/.ruff_cache
/.vscode
/bin
/target
/temp

# Environment
.env
